@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Montserrat", sans-serif;
    color: #777;
}

.bgimg-1 {
    background: url('../img/login.gif') no-repeat left center fixed;
    background-position: left 10% center;
    background-size: auto;
}

.bgimg-2 {
    background: url('../img/signup.gif') no-repeat left center fixed;
    background-position: left 10% center;
    background-size: auto;
}

.caption {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.title {
    text-align: left;
    margin-left: 2%;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-align: left;
}

.login {
    width: 20%;
    overflow: hidden;
    margin: auto;
    margin-right: 100px;
    margin: 20 0 0 450px;
    margin-bottom: 80px;
    padding: 70px;
    background: #c1dce1;
    border-radius: 15px;
    background-size: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    color: black;
}

h2 {
    text-align: center;
    color: #35d1ec;
    padding: 20px;
}

label {
    color: #000;
    font-size: 17px;
}

#Uname {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
}

#Pass {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
}

#log {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 17px;
    padding: 5px;
    color: #000000;
    font-size: larger;
    font-weight: bolder;
}

span {
    color: white;
    font-size: 17px;
}

a {
    float: right;
    background-color: grey;
}


/** registration **/

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}